target/
*.class
*.jar
!diameter-simulator/target/diameter-simulator.jar
.idea/
*.iml
*.iws
*.ipr
.DS_Store
*.log
# *.pcap  -- transaction_flow.pcap is committed as a deliverable
!transaction_flow.pcap
